.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

.btn-flat{
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: blue;
    transition: background 0.3s ease;
}

.btn-flat:hover{
    background: rgb(5, 5, 68);
    color: white;
}
