<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="/parking_lots">
      <%= image_tag ("logos/logo-parking.png") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Post Parking-lot", new_parking_lot_path, class:"navbar-options nav-link"%></a>
          <li class="nav-item">
          <%if user_signed_in? %>
            <%= link_to "Log-out", destroy_user_session_path, data: {turbo_method: :delete}, class:"navbar-options nav-link"%></a>
            <% else %>
            <%= link_to "Login", new_user_session_path, class:"navbar-options nav-link"%></a>
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBGwlAahaapmmJ7Riv_L_ZujOcfWSUJnm71g&usqp=CAU" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/parking_lots/myreservations">My reservations</a>
              <a class="dropdown-item" href="/parking_lots/mylots">My lots</a>
            </div>
          </li>

      </ul>
    </div>
  </div>
</div>
