<h2>Create your reservation!</h2>
 <%= simple_form_for([@parking_lot, @reservation]) do |f| %>
    <%= f.input :reservation_date, as: :date,
                                  html5: true %>
    <%= f.input :end_reservation_date, as: :date,
                                  html5: true %>
    <%= f.submit %>
  <% end %>

Price <span id='price'>127</span><br/>
<button onclick="calcValue()">Calculate</button><br/>
Total Value <span id='value'></span>


<script type="text/javascript">
  function totalDays()
  {
    var endDate = document.getElementById("reservation_end_reservation_date").valueAsDate;
    var startDate= document.getElementById("reservation_reservation_date").valueAsDate;
    return parseInt((endDate - startDate) / (24 * 3600 * 1000));
  }

  function calcValue()
{
  document.getElementById('value').innerHTML=totalDays()*parseInt(document.getElementById('price').innerHTML);
}
</script>
