// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "footer";

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  font-size: 45px;
  font-weight: bold;
}
