// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "components/navbar";
@import "components/footer";
@import "components/form";
@import "pages/home";
@import "pages/show";

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
